{
    "openapi": "3.1.0",
    "info": {
        "title": "Forge",
        "version": "0.0.1",
        "description": "Laravel Forge - API Documentation"
    },
    "servers": [
        {
            "url": "https://forge.laravel.com/api"
        }
    ],
    "tags": [
        {
            "name": "Roles"
        },
        {
            "name": "Sites"
        },
        {
            "name": "Organizations"
        },
        {
            "name": "Recipes"
        },
        {
            "name": "Servers"
        },
        {
            "name": "Background Processes"
        },
        {
            "name": "Nginx"
        },
        {
            "name": "Databases"
        },
        {
            "name": "Monitors"
        },
        {
            "name": "Firewall Rules"
        },
        {
            "name": "Logs"
        },
        {
            "name": "SSH Keys"
        },
        {
            "name": "Scheduled Jobs"
        },
        {
            "name": "Security Rules"
        },
        {
            "name": "Redirect Rules"
        },
        {
            "name": "Integrations"
        },
        {
            "name": "Deployments"
        },
        {
            "name": "Commands"
        },
        {
            "name": "Teams"
        },
        {
            "name": "Server Credentials"
        },
        {
            "name": "User"
        },
        {
            "name": "Providers"
        }
    ],
    "security": [
        {
            "http": []
        },
        {
            "oauth2": []
        }
    ],
    "paths": {
        "/orgs/{organization}/servers/{server}/background-processes": {
            "get": {
                "operationId": "organizations.servers.background-processes.index",
                "description": "List all background processes on the server.\n\nProcessing mode: <small><code>sync</code></small>",
                "summary": "List background processes",
                "tags": [
                    "Background Processes"
                ],
                "parameters": [
                    {
                        "name": "organization",
                        "in": "path",
                        "required": true,
                        "description": "The organization slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "server",
                        "in": "path",
                        "required": true,
                        "description": "The server ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Available sorts are `user`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-user`.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page[size]",
                        "in": "query",
                        "description": "The number of results that will be returned per page.",
                        "schema": {
                            "type": "integer",
                            "default": 30
                        }
                    },
                    {
                        "name": "page[cursor]",
                        "in": "query",
                        "description": "The cursor to start the pagination from.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[user]",
                        "in": "query",
                        "description": "The user that the process is running as.",
                        "schema": {
                            "type": "string",
                            "examples": [
                                "forge"
                            ]
                        }
                    },
                    {
                        "name": "filter[site_id]",
                        "in": "query",
                        "description": "The site ID that the process is running for.",
                        "schema": {
                            "type": "string",
                            "examples": [
                                1
                            ]
                        }
                    },
                    {
                        "name": "filter[directory]",
                        "in": "query",
                        "description": "The directory that the process is running in.",
                        "schema": {
                            "type": "string",
                            "examples": [
                                "/home/forge/forge.laravel.com"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `BackgroundProcessResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/BackgroundProcessResource"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string"
                                                },
                                                "next": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "path": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "Base path for paginator generated URLs."
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "description": "Number of items shown per page."
                                                },
                                                "next_cursor": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "The \"cursor\" that points to the next set of items."
                                                },
                                                "prev_cursor": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "The \"cursor\" that points to the previous set of items."
                                                }
                                            },
                                            "required": [
                                                "path",
                                                "per_page",
                                                "next_cursor",
                                                "prev_cursor"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "links",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "server:view"
                        ]
                    }
                ],
                "x-permissions": [
                    "server:view"
                ],
                "x-mint": {
                    "metadata": {
                        "noindex": true
                    }
                },
                "x-processingMode": "sync"
            },
            "post": {
                "operationId": "organizations.servers.background-processes.store",
                "description": "Create a new background process from a template.\n\nProcessing mode: <small><code>async</code></small>",
                "summary": "Create background process",
                "tags": [
                    "Background Processes"
                ],
                "parameters": [
                    {
                        "name": "organization",
                        "in": "path",
                        "required": true,
                        "description": "The organization slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "server",
                        "in": "path",
                        "required": true,
                        "description": "The server ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateBackgroundProcessRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "`BackgroundProcessResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BackgroundProcessResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "server:create-daemons"
                        ]
                    }
                ],
                "x-permissions": [
                    "server:create-daemons"
                ],
                "x-mint": {
                    "metadata": {
                        "noindex": true
                    }
                },
                "x-processingMode": "async"
            }
        },
        "/orgs/{organization}/servers/{server}/background-processes/{backgroundProcess}": {
            "get": {
                "operationId": "organizations.servers.background-processes.show",
                "description": "\n\nProcessing mode: <small><code>sync</code></small>",
                "summary": "Get background process",
                "tags": [
                    "Background Processes"
                ],
                "parameters": [
                    {
                        "name": "organization",
                        "in": "path",
                        "required": true,
                        "description": "The organization slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "server",
                        "in": "path",
                        "required": true,
                        "description": "The server ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "backgroundProcess",
                        "in": "path",
                        "required": true,
                        "description": "The background process ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`BackgroundProcessResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BackgroundProcessResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "server:view"
                        ]
                    }
                ],
                "x-permissions": [
                    "server:view"
                ],
                "x-mint": {
                    "metadata": {
                        "noindex": true
                    }
                },
                "x-processingMode": "sync"
            },
            "put": {
                "operationId": "organizations.servers.background-processes.update",
                "description": "Update the supervisor configuration for a background process.\n\nProcessing mode: <small><code>async</code></small>",
                "summary": "Update background process",
                "tags": [
                    "Background Processes"
                ],
                "parameters": [
                    {
                        "name": "organization",
                        "in": "path",
                        "required": true,
                        "description": "The organization slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "server",
                        "in": "path",
                        "required": true,
                        "description": "The server ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "backgroundProcess",
                        "in": "path",
                        "required": true,
                        "description": "The background process ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateBackgroundProcessRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": ""
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "server:create-daemons"
                        ]
                    }
                ],
                "x-permissions": [
                    "server:create-daemons"
                ],
                "x-mint": {
                    "metadata": {
                        "noindex": true
                    }
                },
                "x-processingMode": "async"
            },
            "delete": {
                "operationId": "organizations.servers.background-processes.destroy",
                "description": "\n\nProcessing mode: <small><code>async</code></small>",
                "summary": "Delete background process",
                "tags": [
                    "Background Processes"
                ],
                "parameters": [
                    {
                        "name": "organization",
                        "in": "path",
                        "required": true,
                        "description": "The organization slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "server",
                        "in": "path",
                        "required": true,
                        "description": "The server ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "backgroundProcess",
                        "in": "path",
                        "required": true,
                        "description": "The background process ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": ""
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "server:delete-daemons"
                        ]
                    }
                ],
                "x-permissions": [
                    "server:delete-daemons"
                ],
                "x-mint": {
                    "metadata": {
                        "noindex": true
                    }
                },
                "x-processingMode": "async"
            }
        },
        "/orgs/{organization}/servers/{server}/background-processes/{backgroundProcess}/log": {
            "get": {
                "operationId": "organizations.servers.background-processes.log.show",
                "description": "\n\nProcessing mode: <small><code>sync</code></small>",
                "summary": "Get background process log",
                "tags": [
                    "Background Processes"
                ],
                "parameters": [
                    {
                        "name": "organization",
                        "in": "path",
                        "required": true,
                        "description": "The organization slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "server",
                        "in": "path",
                        "required": true,
                        "description": "The server ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "backgroundProcess",
                        "in": "path",
                        "required": true,
                        "description": "The background process ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`BackgroundProcessLogResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BackgroundProcessLogResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "server:create-daemons"
                        ]
                    }
                ],
                "x-permissions": [
                    "server:create-daemons"
                ],
                "x-mint": {
                    "metadata": {
                        "noindex": true
                    }
                },
                "x-processingMode": "sync"
            }
        },
        "/orgs/{organization}/servers/{server}/sites/{site}/commands": {
            "get": {
                "operationId": "organizations.servers.sites.commands.index",
                "description": "List all command runs for the site.\n\nProcessing mode: <small><code>sync</code></small>",
                "summary": "List commands",
                "tags": [
                    "Commands"
                ],
                "parameters": [
                    {
                        "name": "organization",
                        "in": "path",
                        "required": true,
                        "description": "The organization slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "server",
                        "in": "path",
                        "required": true,
                        "description": "The server ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "site",
                        "in": "path",
                        "required": true,
                        "description": "The site ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Available sorts are `status`, `created_at`, `updated_at`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-status`.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page[size]",
                        "in": "query",
                        "description": "The number of results that will be returned per page.",
                        "schema": {
                            "type": "integer",
                            "default": 30
                        }
                    },
                    {
                        "name": "page[cursor]",
                        "in": "query",
                        "description": "The cursor to start the pagination from.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[user_id]",
                        "in": "query",
                        "description": "The user ID of the command initiator.",
                        "schema": {
                            "type": "string",
                            "examples": [
                                1
                            ]
                        }
                    },
                    {
                        "name": "filter[status]",
                        "in": "query",
                        "description": "The status of the command.",
                        "schema": {
                            "type": "string",
                            "examples": [
                                "finished"
                            ]
                        }
                    },
                    {
                        "name": "filter[command]",
                        "in": "query",
                        "description": "The command it ran.",
                        "schema": {
                            "type": "string",
                            "examples": [
                                "git status"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `CommandResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/CommandResource"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string"
                                                },
                                                "next": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "path": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "Base path for paginator generated URLs."
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "description": "Number of items shown per page."
                                                },
                                                "next_cursor": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "The \"cursor\" that points to the next set of items."
                                                },
                                                "prev_cursor": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "The \"cursor\" that points to the previous set of items."
                                                }
                                            },
                                            "required": [
                                                "path",
                                                "per_page",
                                                "next_cursor",
                                                "prev_cursor"
                                            ]
                                        },
                                        "included": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/UserResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "links",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "server:view"
                        ]
                    }
                ],
                "x-permissions": [
                    "server:view"
                ],
                "x-mint": {
                    "metadata": {
                        "noindex": true
                    }
                },
                "x-processingMode": "sync"
            },
            "post": {
                "operationId": "organizations.servers.sites.commands.store",
                "description": "Run a command on the site.\n\nProcessing mode: <small><code>async</code></small>",
                "summary": "Create command",
                "tags": [
                    "Commands"
                ],
                "parameters": [
                    {
                        "name": "organization",
                        "in": "path",
                        "required": true,
                        "description": "The organization slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "server",
                        "in": "path",
                        "required": true,
                        "description": "The server ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "site",
                        "in": "path",
                        "required": true,
                        "description": "The site ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RunSiteCommandRequest"
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "data": {
                                        "type": "object",
                                        "properties": {
                                            "type": {
                                                "type": "string",
                                                "enum": [
                                                    "phpOpcaches"
                                                ]
                                            },
                                            "attributes": {
                                                "type": "object",
                                                "properties": {
                                                    "opcache_enabled": {
                                                        "type": "boolean"
                                                    }
                                                },
                                                "required": [
                                                    "opcache_enabled"
                                                ]
                                            }
                                        },
                                        "required": [
                                            "type",
                                            "attributes"
                                        ]
                                    }
                                },
                                "required": [
                                    "data"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "`PhpOpcacheResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/PhpOpcacheResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },

                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "site:manage-commands"
                        ]
                    }
                ],
                "x-permissions": [
                    "site:manage-commands"
                ],
                "x-mint": {
                    "metadata": {
                        "noindex": true
                    }
                },
                "x-processingMode": "async"
            }
        },
        "/orgs/{organization}/servers/{server}/sites/{site}/commands/{command}": {
            "get": {
                "operationId": "organizations.servers.sites.commands.show",
                "description": "Get a specific command run.\n\nProcessing mode: <small><code>sync</code></small>",
                "summary": "Get command",
                "tags": [
                    "Commands"
                ],
                "parameters": [
                    {
                        "name": "organization",
                        "in": "path",
                        "required": true,
                        "description": "The organization slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "server",
                        "in": "path",
                        "required": true,
                        "description": "The server ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "site",
                        "in": "path",
                        "required": true,
                        "description": "The site ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "command",
                        "in": "path",
                        "required": true,
                        "description": "The command ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`CommandResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CommandResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "server:view"
                        ]
                    }
                ],
                "x-permissions": [
                    "server:view"
                ],
                "x-mint": {
                    "metadata": {
                        "noindex": true
                    }
                },
                "x-processingMode": "sync"
            },
            "delete": {
                "operationId": "organizations.servers.sites.commands.destroy",
                "description": "Delete a command history.\n\nProcessing mode: <small><code>sync</code></small>",
                "summary": "Delete command",
                "tags": [
                    "Commands"
                ],
                "parameters": [
                    {
                        "name": "organization",
                        "in": "path",
                        "required": true,
                        "description": "The organization slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "server",
                        "in": "path",
                        "required": true,
                        "description": "The server ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "site",
                        "in": "path",
                        "required": true,
                        "description": "The site ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "command",
                        "in": "path",
                        "required": true,
                        "description": "The command ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": ""
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "site:manage-commands"
                        ]
                    }
                ],
                "x-permissions": [
                    "site:manage-commands"
                ],
                "x-mint": {
                    "metadata": {
                        "noindex": true
                    }
                },
                "x-processingMode": "sync"
            }
        },
        "/orgs/{organization}/servers/{server}/sites/{site}/commands/{command}/output": {
            "get": {
                "operationId": "organizations.servers.sites.commands.output.show",
                "description": "Get the output of a specific command run.\n\nProcessing mode: <small><code>sync</code></small>",
                "summary": "Get command output",
                "tags": [
                    "Commands"
                ],
                "parameters": [
                    {
                        "name": "organization",
                        "in": "path",
                        "required": true,
                        "description": "The organization slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "server",
                        "in": "path",
                        "required": true,
                        "description": "The server ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "site",
                        "in": "path",
                        "required": true,
                        "description": "The site ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "command",
                        "in": "path",
                        "required": true,
                        "description": "The command ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`CommandOutputResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CommandOutputResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "server:view"
                        ]
                    }
                ],
                "x-permissions": [
                    "server:view"
                ],
                "x-mint": {
                    "metadata": {
                        "noindex": true
                    }
                },
                "x-processingMode": "sync"
            }
        },
        "/orgs/{organization}/servers/{server}/database/schemas": {
            "get": {
                "operationId": "organizations.servers.database.schemas.index",
                "description": "List all database schemas associated with the server.\n\nProcessing mode: <small><code>sync</code></small>",
                "summary": "List database schemas",
                "tags": [
                    "Databases"
                ],
                "parameters": [
                    {
                        "name": "organization",
                        "in": "path",
                        "required": true,
                        "description": "The organization slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "server",
                        "in": "path",
                        "required": true,
                        "description": "The server ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Available sorts are `name`, `created_at`, `updated_at`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-name`.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page[size]",
                        "in": "query",
                        "description": "The number of results that will be returned per page.",
                        "schema": {
                            "type": "integer",
                            "default": 30
                        }
                    },
                    {
                        "name": "page[cursor]",
                        "in": "query",
                        "description": "The cursor to start the pagination from.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[name]",
                        "in": "query",
                        "description": "The name of the database schema.",
                        "schema": {
                            "type": "string",
                            "examples": [
                                "forge"
                            ]
                        }
                    },
                    {
                        "name": "filter[status]",
                        "in": "query",
                        "description": "The status of the database schema.",
                        "schema": {
                            "type": "string",
                            "examples": [
                                "installed"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `DatabaseResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DatabaseResource"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string"
                                                },
                                                "next": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "path": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "Base path for paginator generated URLs."
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "description": "Number of items shown per page."
                                                },
                                                "next_cursor": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "The \"cursor\" that points to the next set of items."
                                                },
                                                "prev_cursor": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "The \"cursor\" that points to the previous set of items."
                                                }
                                            },
                                            "required": [
                                                "path",
                                                "per_page",
                                                "next_cursor",
                                                "prev_cursor"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "links",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "server:view"
                        ]
                    }
                ],
                "x-permissions": [
                    "server:view"
                ],
                "x-mint": {
                    "metadata": {
                        "noindex": true
                    }
                },
                "x-processingMode": "sync"
            },
            "post": {
                "operationId": "organizations.servers.database.schemas.store",
                "description": "Add a new database schema to the server.\n\nProcessing mode: <small><code>async</code></small>",
                "summary": "Create database schema",
                "tags": [
                    "Databases"
                ],
                "parameters": [
                    {
                        "name": "organization",
                        "in": "path",
                        "required": true,
                        "description": "The organization slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "server",
                        "in": "path",
                        "required": true,
                        "description": "The server ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateDatabaseRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "`DatabaseResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/DatabaseResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "server:create-databases"
                        ]
                    }
                ],
                "x-permissions": [
                    "server:create-databases"
                ],
                "x-mint": {
                    "metadata": {
                        "noindex": true
                    }
                },
                "x-processingMode": "async"
            }
        },
        "/orgs/{organization}/servers/{server}/database/schemas/{database}": {
            "get": {
                "operationId": "organizations.servers.database.schemas.show",
                "description": "Get a specific database schema associated with the server.\n\nProcessing mode: <small><code>sync</code></small>",
                "summary": "Get database schema",
                "tags": [
                    "Databases"
                ],
                "parameters": [
                    {
                        "name": "organization",
                        "in": "path",
                        "required": true,
                        "description": "The organization slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "server",
                        "in": "path",
                        "required": true,
                        "description": "The server ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "database",
                        "in": "path",
                        "required": true,
                        "description": "The database ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`DatabaseResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/DatabaseResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "server:view"
                        ]
                    }
                ],
                "x-permissions": [
                    "server:view"
                ],
                "x-mint": {
                    "metadata": {
                        "noindex": true
                    }
                },
                "x-processingMode": "sync"
            },
            "delete": {
                "operationId": "organizations.servers.database.schemas.destroy",
                "description": "Remove a database schema from the server.\n\nProcessing mode: <small><code>async</code></small>",
                "summary": "Delete database schema",
                "tags": [
                    "Databases"
                ],
                "parameters": [
                    {
                        "name": "organization",
                        "in": "path",
                        "required": true,
                        "description": "The organization slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "server",
                        "in": "path",
                        "required": true,
                        "description": "The server ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "database",
                        "in": "path",
                        "required": true,
                        "description": "The database ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "server:delete-databases"
                        ]
                    }
                ],
                "x-permissions": [
                    "server:delete-databases"
                ],
                "x-mint": {
                    "metadata": {
                        "noindex": true
                    }
                },
                "x-processingMode": "async"
            }
        },
        "/orgs/{organization}/servers/{server}/database/schemas/synchronizations": {
            "post": {
                "operationId": "organizations.servers.database.schemas.synchronizations.store",
                "description": "Synchronize all database schemas on the server.\n\nProcessing mode: <small><code>async</code></small>",
                "summary": "Update database schemas",
                "tags": [
                    "Databases"
                ],
                "parameters": [
                    {
                        "name": "organization",
                        "in": "path",
                        "required": true,
                        "description": "The organization slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "server",
                        "in": "path",
                        "required": true,
                        "description": "The server ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "server:create-databases"
                        ]
                    }
                ],
                "x-permissions": [
                    "server:create-databases"
                ],
                "x-mint": {
                    "metadata": {
                        "noindex": true
                    }
                },
                "x-processingMode": "async"
            }
        },
        "/orgs/{organization}/servers/{server}/database/users": {
            "get": {
                "operationId": "organizations.servers.database.users.index",
                "description": "List all database users associated with the server.\n\nProcessing mode: <small><code>sync</code></small>",
                "summary": "List database users",
                "tags": [
                    "Databases"
                ],
                "parameters": [
                    {
                        "name": "organization",
                        "in": "path",
                        "required": true,
                        "description": "The organization slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "server",
                        "in": "path",
                        "required": true,
                        "description": "The server ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Available sorts are `name`, `created_at`, `updated_at`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-name`.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page[size]",
                        "in": "query",
                        "description": "The number of results that will be returned per page.",
                        "schema": {
                            "type": "integer",
                            "default": 30
                        }
                    },
                    {
                        "name": "page[cursor]",
                        "in": "query",
                        "description": "The cursor to start the pagination from.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[name]",
                        "in": "query",
                        "description": "The name of the database user.",
                        "schema": {
                            "type": "string",
                            "examples": [
                                "forge"
                            ]
                        }
                    },
                    {
                        "name": "filter[status]",
                        "in": "query",
                        "description": "The status of the database user.",
                        "schema": {
                            "type": "string",
                            "examples": [
                                "installed"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `DatabaseUserResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DatabaseUserResource"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string"
                                                },
                                                "next": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "path": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "Base path for paginator generated URLs."
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "description": "Number of items shown per page."
                                                },
                                                "next_cursor": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "The \"cursor\" that points to the next set of items."
                                                },
                                                "prev_cursor": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "The \"cursor\" that points to the previous set of items."
                                                }
                                            },
                                            "required": [
                                                "path",
                                                "per_page",
                                                "next_cursor",
                                                "prev_cursor"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "links",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "server:view"
                        ]
                    }
                ],
                "x-permissions": [
                    "server:view"
                ],
                "x-mint": {
                    "metadata": {
                        "noindex": true
                    }
                },
                "x-processingMode": "sync"
            },
            "post": {
                "operationId": "organizations.servers.database.users.store",
                "description": "Add a new database user to the server.\n\nProcessing mode: <small><code>async</code></small>",
                "summary": "Create database user",
                "tags": [
                    "Databases"
                ],
                "parameters": [
                    {
                        "name": "organization",
                        "in": "path",
                        "required": true,
                        "description": "The organization slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "server",
                        "in": "path",
                        "required": true,
                        "description": "The server ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateDatabaseUserRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "`DatabaseUserResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/DatabaseUserResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "server:create-databases"
                        ]
                    }
                ],
                "x-permissions": [
                    "server:create-databases"
                ],
                "x-mint": {
                    "metadata": {
                        "noindex": true
                    }
                },
                "x-processingMode": "async"
            }
        },
        "/orgs/{organization}/servers/{server}/database/users/{databaseUser}": {
            "get": {
                "operationId": "organizations.servers.database.users.show",
                "description": "Get a specific database user associated with the server.\n\nProcessing mode: <small><code>sync</code></small>",
                "summary": "Get database user",
                "tags": [
                    "Databases"
                ],
                "parameters": [
                    {
                        "name": "organization",
                        "in": "path",
                        "required": true,
                        "description": "The organization slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "server",
                        "in": "path",
                        "required": true,
                        "description": "The server ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "databaseUser",
                        "in": "path",
                        "required": true,
                        "description": "The database user ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`DatabaseUserResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/DatabaseUserResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "server:view"
                        ]
                    }
                ],
                "x-permissions": [
                    "server:view"
                ],
                "x-mint": {
                    "metadata": {
                        "noindex": true
                    }
                },
                "x-processingMode": "sync"
            },
            "put": {
                "operationId": "organizations.servers.database.users.update",
                "description": "Update a database user on the server.\n\nProcessing mode: <small><code>async</code></small>",
                "summary": "Update database user",
                "tags": [
                    "Databases"
                ],
                "parameters": [
                    {
                        "name": "organization",
                        "in": "path",
                        "required": true,
                        "description": "The organization slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "server",
                        "in": "path",
                        "required": true,
                        "description": "The server ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "databaseUser",
                        "in": "path",
                        "required": true,
                        "description": "The database user ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateDatabaseUserRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "server:create-databases"
                        ]
                    }
                ],
                "x-permissions": [
                    "server:create-databases"
                ],
                "x-mint": {
                    "metadata": {
                        "noindex": true
                    }
                },
                "x-processingMode": "async"
            },
            "delete": {
                "operationId": "organizations.servers.database.users.destroy",
                "description": "Remove a database user from the server.\n\nProcessing mode: <small><code>async</code></small>",
                "summary": "Delete database user",
                "tags": [
                    "Databases"
                ],
                "parameters": [
                    {
                        "name": "organization",
                        "in": "path",
                        "required": true,
                        "description": "The organization slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "server",
                        "in": "path",
                        "required": true,
                        "description": "The server ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "databaseUser",
                        "in": "path",
                        "required": true,
                        "description": "The database user ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "server:delete-databases"
                        ]
                    }
                ],
                "x-permissions": [
                    "server:delete-databases"
                ],
                "x-mint": {
                    "metadata": {
                        "noindex": true
                    }
                },
                "x-processingMode": "async"
            }
        },
        "/orgs/{organization}/servers/{server}/database/password": {
            "put": {
                "operationId": "organizations.servers.database.password.update",
                "description": "Update the password for the database on the server.\nIt will only update the password Forge thinks is the password, it will not change the password on the server itself.\nThis should only be used if you have changed the password on the server itself and want to update Forge.\n\nProcessing mode: <small><code>sync</code></small>",
                "summary": "Update the password for the database",
                "tags": [
                    "Databases"
                ],
                "parameters": [
                    {
                        "name": "organization",
                        "in": "path",
                        "required": true,
                        "description": "The organization slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "server",
                        "in": "path",
                        "required": true,
                        "description": "The server ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateDatabasePasswordRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "server:manage-services"
                        ]
                    }
                ],
                "x-permissions": [
                    "server:manage-services"
                ],
                "x-mint": {
                    "metadata": {
                        "noindex": true
                    }
                },
                "x-processingMode": "sync"
            }
        },
        "/orgs/{organization}/servers/{server}/sites/{site}/webhooks": {
            "get": {
                "operationId": "organizations.servers.sites.webhooks.index",
                "description": "List all webhooks for the site.\n\nProcessing mode: <small><code>sync</code></small>",
                "summary": "List site webhooks",
                "tags": [
                    "Deployments"
                ],
                "parameters": [
                    {
                        "name": "organization",
                        "in": "path",
                        "required": true,
                        "description": "The organization slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "server",
                        "in": "path",
                        "required": true,
                        "description": "The server ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "site",
                        "in": "path",
                        "required": true,
                        "description": "The site ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Available sorts are `created_at`, `updated_at`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-created_at`.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page[size]",
                        "in": "query",
                        "description": "The number of results that will be returned per page.",
                        "schema": {
                            "type": "integer",
                            "default": 30
                        }
                    },
                    {
                        "name": "page[cursor]",
                        "in": "query",
                        "description": "The cursor to start the pagination from.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `DeploymentWebhookResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DeploymentWebhookResource"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string"
                                                },
                                                "next": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "path": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "Base path for paginator generated URLs."
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "description": "Number of items shown per page."
                                                },
                                                "next_cursor": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "The \"cursor\" that points to the next set of items."
                                                },
                                                "prev_cursor": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "The \"cursor\" that points to the previous set of items."
                                                }
                                            },
                                            "required": [
                                                "path",
                                                "per_page",
                                                "next_cursor",
                                                "prev_cursor"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "links",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "site:manage-notifications"
                        ]
                    }
                ],
                "x-permissions": [
                    "server:view"
                ],
                "x-mint": {
                    "metadata": {
                        "noindex": true
                    }
                },
                "x-processingMode": "sync"
            },
            "post": {
                "operationId": "organizations.servers.sites.webhooks.store",
                "description": "Create a new webhook for the site.\n\nProcessing mode: <small><code>async</code></small>",
                "summary": "Create site webhook",
                "tags": [
                    "Deployments"
                ],
                "parameters": [
[...]
